header {
    height: 75px;
    padding: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: inline-block;
}

.first-menu {
    border-right: 2px solid gray;
    padding-right: 40px;
}

.second-menu {
    border-right: 2px solid gray;
    padding-left: 40px;
    padding-right: 40px;
}

.third-menu {
    border-right: 2px solid gray;
    padding-left: 40px;
    padding-right: 40px;
}

.fourth-menu {
    border-right: 2px solid gray;
    padding-left: 40px;
    padding-right: 40px;
}

.fifth-menu {
    padding-left: 40px;
}

.sixth-menu {
    padding-right: 20px;
}